<div *ngFor="let video of videos"
  [routerLink]=""
  [queryParams]="{video: video.id}"
  [class.selected]="(selectedVideoId | async) === video.id"
>
  <nyc-video-thumbnail [video]="video"></nyc-video-thumbnail>
</div>
