<form [formGroup]="filters">
  <div>
    <label for="title">Title</label>
    <input id="title" formControlName="title">
  </div>
  <div>
    <label for="author">Author</label>
    <input id="author" formControlName="author">
  </div>
</form>
