<div class="container">
  <div class="row">
    <div class="col s3">
      <nyc-video-list
        [videos]="dashboardVideos | async"
      ></nyc-video-list>
    </div>
    <div class="col s6">
      <nyc-video-player></nyc-video-player>
    </div>
    <div class="col s3">
      <nyc-stat-filters></nyc-stat-filters>
    </div>
  </div>
</div>
